.App {
    padding: 1.5rem;
    margin: auto;
    width: 25rem;
    height: 100%;
    background-color: white;
    color: black;
    }
.dark-mode {
    background-color: #111;
    color: #fff;
    
  }

/* Media query for Android devices with a maximum screen width of 725px */
@media screen and (max-width: 725px) {
    .App {
        /* Add styles specific to Android devices here */
    }
}
